<div class="w-75 mx-auto mt-5">
	<form 
     		#loginForm="ngForm" 
     		(ngSubmit)="onSubmitAuthForm(loginForm)"
		class="connexion text-center">
		<h2>Connexion</h2>
		<div class="mb-4">
			<label for="identifiant" class="d-block p-1">Identifiant</label>
			<input 
			type="text" 
			name="email" 
			id="identifiant"
			ngModel>
		</div>
		<div class="mb-4">
			<label for="mdp" class="d-block p-1">Mot de passe</label>
			<input 
			type="password" 
			name="password" 
			id="mdp"
			ngModel>
		</div>
		<button class="btn red" [disabled]="loginForm.invalid">
			<p>Connexion</p>
		</button>
		<div><a routerLink="/inscription">Pas encore incrit !</a></div>
	</form>
</div>
