<form #inscriptionForm="ngForm" (ngSubmit)="onSubmitInscriptionForm(inscriptionForm)">
	<h2>Inscription</h2>
	<div class="container p-0">
		<div class="row">
			<div class="col-12 d-sm-block col-md-6">
				<div class="mb-4">
					<label for="firstname" class="d-block p-1">Prénom</label>
					<input type="text" name="firstname" id="firstname">
				</div>
				<div class="mb-4">
					<label for="last-name" class="d-block p-1">Nom</label>
					<input type="text" name="last-name" id="last-name">
				</div>
				<div class="mb-4">
					<label for="birthday" class="d-block p-1">Date de naissance</label>
					<input type="text" name="birthday" id="birthday">
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="mb-4">
					<label for="email" class="d-block p-1">E-mail</label>
					<input type="text" name="email" id="email" ngModel>
				</div>
				<div class="mb-4">
					<label for="password" class="d-block p-1">Mot de passe</label>
					<input type="password" name="password" id="password" ngModel>
				</div>
				<div class="mb-4">
					<label for="check-mdp" class="d-block p-1">Vérification mot de passe</label>
					<input type="password" name="check-mdp" id="check-mdp">
				</div>
			</div>
		</div>
	</div>
	<button type="submit" [disabled]="inscriptionForm.invalid" class="btn red p-2">
		Inscription
	  </button>
	</form>
